# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DeveloperManagement.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\DeveloperManagement\.idea\.idea.DeveloperManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
